@-webkit-keyframes visible {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background-color: #9356dc;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background-color: #99e2d0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background-color: #ff79da;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background-color: #9356dc;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background-color: #99e2d0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background-color: #ff79da;
  }
}

@-webkit-keyframes decalage__droite {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes decalage__droite {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1900px;
  margin: 0 15px 0 15px;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h1 {
  font-family: Shrikhand, Roboto, sans-serif;
}

h3 {
  margin: 5px;
}

.chargement {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  animation: visible 4s linear reverse;
}

.chargement__animation {
  border: 10px solid whitesmoke;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #ff79da;
  border-left: 10px solid whitesmoke;
  border-right: 10px solid #99e2d0;
  background-color: #99e2d0;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.chargement__animation p {
  text-align: center;
  padding-top: 35%;
}

.container {
  position: relative;
  -webkit-animation: decalage__droite 4s ease-out;
          animation: decalage__droite 4s ease-out;
}

.header__title {
  text-align: center;
}

/***** Partie 1 Recherche *****/
.recherche {
  border: none;
  background: #fbfbfb;
  text-align: center;
}

.recherche .recherche--haut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eaeaea;
  -webkit-box-shadow: inset 0px 5px 5px 0px #dddddd;
          box-shadow: inset 0px 5px 5px 0px #dddddd;
}

.recherche .recherche--haut input {
  -webkit-box-shadow: inset 0px 5px 5px 0px #dddddd;
          box-shadow: inset 0px 5px 5px 0px #dddddd;
  background: #eaeaea;
  padding: 20px;
  border: transparent;
}

.recherche .recherche--bas {
  margin: 20px;
  text-align: center;
  padding: 0 10px 10px;
}

.recherche h2 {
  font-size: 17px;
}

.recherche p {
  font-size: 12px;
}

.recherche .btn__explo {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border: 1px solid transparent;
  width: 150px;
  font-size: 10px;
  border-radius: 30px;
  padding: 13px;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 5px #aaa;
          box-shadow: 5px 5px 5px #aaa;
  cursor: pointer;
}

.recherche .btn__explo:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 5px 5px 5px #000;
          box-shadow: 5px 5px 5px #000;
  opacity: 0.9;
}

/***** Partie 1 Recherche **FIN***/
/***** Partie 2 Fonctionnement *****/
/***** Partie 2 Fonctionnement *****/
.fonctionnement h2 {
  margin-left: 30px;
}

.fonctionnement li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  margin: 15px 1px 10px 1px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 8px 2px #c4c4c4;
          box-shadow: 1px 2px 8px 2px #c4c4c4;
  background-color: #f5f5f5;
}

.fonctionnement li:hover {
  background: #f2eafb;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  color: #9356dc;
}

.fonctionnement li:hover i {
  color: #9356dc;
}

.fonctionnement p {
  font-size: 12px;
  font-weight: 500;
  margin-left: 20px;
  padding-right: 15px;
}

.fonctionnement__groupe--chiffre {
  background: #9356dc;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fonctionnement__groupe--icon {
  color: grey;
  font-size: 20px;
  margin-left: 20px;
}

/***** Partie 2 Fonctionnement ***FIN**/
/***** Partie 3 Resto *****/
/***** Partie 3 Resto *****/
.resto h2 {
  margin-left: 20px;
}

.card-resto {
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  margin: 20px;
  background: #fff;
  padding-bottom: 10px;
  position: relative;
}

.card-resto:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background-color: whitesmoke;
}

.card-resto:active .chargement {
  opacity: 1;
}

.card-resto h3 {
  padding: 10px;
  margin: 0px;
}

.card-resto img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 100%;
  max-height: 220px;
}

.nouveau {
  width: 100px;
  height: 15px;
  text-align: center;
  color: #008766;
  background: #99e2d0;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  top: 20px;
  font-weight: 500;
  padding: 10px;
}

.enligne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px;
}

.decaler {
  margin: 0 10px;
  padding: 10px;
}

/***** Partie COEUR *****/
/***** Partie COEUR *****/
/***** Partie COEUR *****/
.fa-heart {
  font-size: 30px;
  padding: 20px;
}

.coeur__plein {
  color: #ff79da;
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.coeur__vide {
  color: black;
  cursor: pointer;
}

.coeur {
  position: relative;
  cursor: pointer;
}

.coeur:hover .coeur__vide {
  opacity: 0;
}

.coeur:hover .coeur__plein {
  -webkit-animation: visible 1s;
          animation: visible 1s;
  opacity: 1;
}

/***** Footer *****/
/***** Footer *****/
/***** Footer *****/
footer {
  background-color: #353535;
  padding: 10px;
  color: whitesmoke;
}

footer h3 {
  font-family: "Shrikhand", "sans-serif";
  padding-left: 40px;
  font-size: 20px;
  font-weight: 500;
}

footer li {
  padding: 5px 0 5px 0;
}

footer li a {
  color: white;
}

footer .fa-utensils {
  margin-right: 12px;
}

footer .fa-hands-helping {
  margin-right: 5px;
}

.header__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__titre h1 {
  margin-right: 100px;
}

.main__img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Shrikhand, sans-serif;
  padding: 0 10px;
  font-size: 13px;
}

.entrees {
  -webkit-animation: decalage__droite 3s ease-out;
          animation: decalage__droite 3s ease-out;
}

.entrees h3:hover + .ligne-verte {
  -webkit-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
  border: 2px solid #e29999;
  width: 400px;
}

.plats {
  -webkit-animation: decalage__droite 4s ease-out;
          animation: decalage__droite 4s ease-out;
}

.plats h3:hover + .ligne-verte {
  -webkit-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
  border: 2px solid #e29999;
  width: 400px;
}

.ligne-verte {
  width: 40px;
  border: 2px solid #99e2d0;
  margin-left: 10px;
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.menu-ligne {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: padding-right 450ms ease-in-out;
  transition: padding-right 450ms ease-in-out;
}

.menu-ligne:hover {
  padding-right: 75px;
}

.menu-ligne:hover .encoche {
  opacity: 1;
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
}

.menu-ligne:hover .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu-ligne h4 {
  margin: 0px;
  padding: 0px;
}

.ligne__dessous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ligne__dessous p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ligne__dessous span {
  margin-right: 5px;
}

.encoche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  width: 50px;
  height: 60px;
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  right: -50px;
  top: 0;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.encoche .fa-check-circle {
  color: #fff;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.dessert {
  -webkit-animation: decalage__droite 5s ease-out;
          animation: decalage__droite 5s ease-out;
}

.dessert h3:hover + .ligne-verte {
  -webkit-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
  border: 2px solid #e29999;
  width: 400px;
}

.btn__com {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border: 1px solid transparent;
  width: 150px;
  font-size: 10px;
  border-radius: 30px;
  padding: 13px;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 5px #aaa;
          box-shadow: 5px 5px 5px #aaa;
  cursor: pointer;
  width: 250px;
  height: 50px;
  margin: 20px;
}

.btn__com:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 5px 5px 5px #000;
          box-shadow: 5px 5px 5px #000;
  opacity: 0.9;
}

.btn__com:active + .barre {
  -webkit-transform: translate(0, -15px);
          transform: translate(0, -15px);
}

.barre {
  text-align: center;
  background: #99e2d0;
  width: 100%;
  height: 1px;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.aligne-btn {
  text-align: center;
}

@media screen and (min-width: 760px) {
  .header__title {
    font-size: 50px;
  }
  .recherche .recherche--haut {
    height: 100px;
    margin: 0 50px;
  }
  .recherche .recherche--haut i {
    width: 100px;
    font-size: 30px;
  }
  .recherche .recherche--haut input {
    height: 50px;
    width: 100%;
    text-align: center;
  }
  .recherche .recherche--bas button {
    width: 300px;
    height: 70px;
    font-size: 20px;
  }
  .fonctionnement h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
  }
  .fonctionnement__groupe {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fonctionnement__groupe li {
    margin-right: 40px;
    background-color: whitesmoke;
  }
  .fonctionnement__groupe li p {
    font-size: 15px;
  }
  .resto h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
  }
  .resto__groupe {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-resto {
    width: 40%;
    height: 350px;
  }
  footer {
    text-align: center;
    background-color: whitesmoke;
  }
  footer h3 {
    color: black;
    font-size: 40px;
    margin: 0;
  }
  footer li a {
    color: black;
    font-size: 20px;
  }
  footer li a:hover {
    color: #ff79da;
    font-size: 22px;
  }
  .header__titre {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .header__titre a {
    padding: 20px;
    font-size: 20px;
  }
  .header__titre h1 a {
    font-size: 60px;
  }
  main .all-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .menu-ligne:hover {
    padding-right: 0px;
  }
  main .menu-ligne h4:hover + .ligne__dessous {
    padding-right: 50px;
  }
  main .menu-ligne .ligne__dessous:hover {
    padding-right: 50px;
  }
  main .btn__com {
    width: 300px;
    height: 80px;
    margin: 50px;
  }
  main .btn__com:active + .barre {
    -webkit-transform: translate(0, -45px);
            transform: translate(0, -45px);
  }
}
/*# sourceMappingURL=style.css.map */